<h1>Articles index</h1>


<h1>In list</h1>
<ul>
    <% @articles.each do |x| %>
        <li><%= x.title %></li>
    <% end %>
</ul>


<h1>In table</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% @articles.each do |a| %>
            <tr>
                <td><%= a.id %></td>
                <td><%= a.title %></td>
                <td><%= a.description %></td>
                <td>Placeholder</td>
            </tr>
        <% end %>
    </tbody>
</table>


