<h1>Category index</h1>

<% if logged_in? && current_user.admin? %>
  <%= link_to 'Create category', new_category_path, class: "btn btn-primary" %>
<% end %>
<br>
<br>

<%= paginate @categories %>
<%= render 'category' %>